<div class="row justify-content-center">
    <div class="col-8">
        <jhi-alert-error></jhi-alert-error>

        <div class="card">
            <div>
                <div class="card-icon">
                    <fa-icon class="icon-left" icon="book"></fa-icon>
                </div>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <h2 id="jhi-concern-area-heading"
                        jhiTranslate="officerManagementApp.concernArea.home.createOrEditLabel">
                        Create or edit a Concern Area</h2>
                    <div>

                        <div class="form-group" [hidden]="!concernArea.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="officerManagementApp.concernArea.name"
                                for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                formControlName="name" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"
                                jhiTranslate="officerManagementApp.concernArea.description"
                                for="field_description">Description</label>
                            <textarea class="form-control" name="description" id="field_description"
                                formControlName="description"></textarea>
                        </div>

                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                            class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>