<div *ngIf="officer">
    <div>
        <jhi-alert-error></jhi-alert-error>
        <div>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" [routerLink]="['/officer', officer.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
        <div class="row  justify-content-center">
            <div class="form-info">
                <div class="left-side">
                    <div *ngIf="officer.avatarUrl" class="personal-img"><img class="profile-img"
                            [src]="officer.avatarUrl"></div>
                    <div *ngIf="!officer.avatarUrl"><img class="profile-img" s
                            src="../../../../../../images/placeholder.png" /></div>
                </div>
                <div class="right-side">
                    <div class="label">
                        <h3>
                            Thông tin cán bộ
                        </h3>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <div class="row-a">
                                <div class="icon-left">
                                    <fa-icon class="icon-left" icon="id-badge"></fa-icon>
                                </div>
                                <div class="text"><strong>Mã cán bộ</strong></div>
                                <p> {{officer.id}}</p>
                            </div>
                            <div class="row-a">
                                <div class="icon-left">
                                    <fa-icon class="icon-left" icon="user"></fa-icon>
                                </div>
                                <div class="text"><strong>Họ và tên</strong></div>
                                <p> {{officer.fullName}}</p>
                            </div>
                            <div class="row-a">
                                <div class="icon-left">
                                    <fa-icon class="icon-left" icon="envelope"></fa-icon>
                                </div>
                                <div class="text"><strong>VNU Email</strong></div>
                                <p> {{officer.vNUEmail}}</p>
                            </div>
                            <div class="row-a">
                                <div class="left">
                                    <div class="icon-left">
                                        <fa-icon class="icon-left" icon="briefcase"></fa-icon>
                                    </div>
                                    <div class="text"><strong>Chức vụ</strong></div>
                                    <p>{{officer.type}}</p>
                                </div>
                                <div class="right">
                                    <div class="icon-left">
                                        <fa-icon class="icon-left" icon="user-graduate"></fa-icon>
                                    </div>
                                    <div class="text"><strong>Học vị</strong></div>
                                    <p>{{officer.degree}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="row-a">
                            <div class="icon-left">
                                <fa-icon class="icon-left" icon="university"></fa-icon>
                            </div>
                            <div class="text"><strong>Đơn vị</strong></div>
                            <div *ngIf="officer.unit">
                                <a [routerLink]="['/unit', officer.unit?.id, 'view' ]">{{officer.unitName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  justify-content-center div2">
            <ul class="timeline col-md-8">
                <li>
                    <div class="timeline-badge success">
                        <fa-icon class="icon-left" icon="book"></fa-icon>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">
                                <span class="badge badge-success">Lĩnh vực quan tâm</span>
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <ul *ngFor="let researchAreas of officer.researchAreas">
                                <li>
                                    <h5>{{researchAreas.name}}</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        <fa-icon class="icon-left" icon="pencil-alt"></fa-icon>

                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">
                                <span class="badge badge-info">Chủ đề nghiên cứu</span>
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <ul *ngFor="let concernAreas of officer.concernAreas">
                                <li>
                                    <h5><a (click)="getConcernArea(concernAreas.id)">{{concernAreas.name}}</a></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>