<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="officer">
            <h2><span jhiTranslate="officerManagementApp.officer.detail.title">Officer</span> {{officer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="officerManagementApp.officer.code">Code</span></dt>
                <dd>
                    <span>{{officer.code}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.fullName">Full Name</span></dt>
                <dd>
                    <span>{{officer.fullName}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.avatarUrl">Avatar Url</span></dt>
                <dd>
                    <span>{{officer.avatarUrl}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.vNUEmail">V NU Email</span></dt>
                <dd>
                    <span>{{officer.vNUEmail}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.degree">Degree</span></dt>
                <dd>
                    <span jhiTranslate="{{'officerManagementApp.OfficerDegree.' + officer.degree}}">{{officer.degree}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'officerManagementApp.OfficerType.' + officer.type}}">{{officer.type}}</span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.user">User</span></dt>
                <dd>
                    {{officer.user?.id}}
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.researchAreas">Research Areas</span></dt>
                <dd>
                    <span *ngFor="let researchAreas of officer.researchAreas; let last = last">
                        <a [routerLink]="['/research-area', researchAreas?.id, 'view' ]">{{researchAreas.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.concernAreas">Concern Areas</span></dt>
                <dd>
                    <span *ngFor="let concernAreas of officer.concernAreas; let last = last">
                        <a [routerLink]="['/concern-area', concernAreas?.id, 'view' ]">{{concernAreas.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="officerManagementApp.officer.unit">Unit</span></dt>
                <dd>
                    <div *ngIf="officer.unit">
                        <a [routerLink]="['/unit', officer.unit?.id, 'view']">{{officer.unit?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/officer', officer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
