<div class="row justify-content-center">
    <jhi-alert-error></jhi-alert-error>

    <div class="col-8">
        <div class="card">
            <div>
                <div class="card-icon">
                    <fa-icon class="icon-left" icon="university"></fa-icon>
                </div>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <h2 id="jhi-unit-heading" jhiTranslate="officerManagementApp.unit.home.createOrEditLabel">Create or
                        edit a
                        Unit</h2>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="officerManagementApp.unit.name"
                                        for="field_name">Name</label>
                                    <input type="text" class="form-control" name="name" id="field_name"
                                        formControlName="name" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" [hidden]="!unit.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                        readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="officerManagementApp.unit.address"
                                        for="field_address">Address</label>
                                    <input type="text" class="form-control" name="address" id="field_address"
                                        formControlName="address" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="officerManagementApp.unit.phone"
                                        for="field_phone">Phone</label>
                                    <input type="text" class="form-control" name="phone" id="field_phone"
                                        formControlName="phone" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="officerManagementApp.unit.website"
                                        for="field_website">Website</label>
                                    <input type="text" class="form-control" name="website" id="field_website"
                                        formControlName="website" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="officerManagementApp.unit.type"
                                        for="field_type">Type</label>
                                    <select  class="form-control" name="type" formControlName="type" id="field_type">
                                        <option value="BOMON">{{'officerManagementApp.UnitType.BOMON' | translate}}
                                        </option>
                                        <option value="PHONGTHINGHIEM">
                                            {{'officerManagementApp.UnitType.PHONGTHINGHIEM' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                            class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>