<div>
    <h2 id="page-heading">
        <span jhiTranslate="officerManagementApp.unit.home.title">Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-unit"
            [routerLink]="['/unit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="officerManagementApp.unit.home.createLabel">
                Create new Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="row">
        <div class="col-md-9">
            <select class="selection col-md-2" [(ngModel)]="search" (ngModelChange)="findByType()">
                <option jhiTranslate="officerManagementApp.enum.all" [ngValue]="all">
                </option>
                <option jhiTranslate="{{'officerManagementApp.enum.unit.'+choice}}" *ngFor="let choice of choices"
                    [ngValue]="choice">{{choice}}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="row">
                <p-autoComplete [(ngModel)]="unitsearch" [suggestions]="results" (completeMethod)="searchUnit($event)"
                    field="name"></p-autoComplete>
                <button class="searchbtn" (click)="findByName()">
                    <span class="d-none d-md-inline"
                        jhiTranslate="officerManagementApp.officer.button.search">Search</span>
                </button>
            </div>
        </div>

    </div>

    <div class="table" *ngIf="units">
        <p-table class="table table-striped" [value]="units" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th><span jhiTranslate="global.field.id">ID</span></th>
                    <th><span jhiTranslate="officerManagementApp.unit.name">Name</span></th>
                    <th><span jhiTranslate="officerManagementApp.unit.address">Address</span></th>
                    <th><span jhiTranslate="officerManagementApp.unit.phone">Phone</span></th>
                    <th><span jhiTranslate="officerManagementApp.unit.website">Website</span></th>
                    <th><span jhiTranslate="officerManagementApp.unit.type">Type</span></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-unit let-i="rowIndex" >
                <tr>
                    <td><a [routerLink]="['/unit', unit.id, 'view' ]">{{i+1}}</a></td>
                    <td>{{unit.name}}</td>
                    <td>{{unit.address}}</td>
                    <td>{{unit.phone}}</td>
                    <td><a href="{{unit.website}}" type="_blank">{{unit.website}}</a></td>
                    <td jhiTranslate="{{'officerManagementApp.enum.unit.'+unit.type}}">{{unit.type}}</td>
                    <td >
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/unit', unit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/unit', unit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', 'unit', { outlets: { popup: unit.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>