<!-- <div>
    <h2 id="page-heading">
        <span jhiTranslate="officerManagementApp.researchArea.home.title">Research Areas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-research-area"
            [routerLink]="['/research-area/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="officerManagementApp.researchArea.home.createLabel">
                Create new Research Area
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="researchAreas">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="global.field.id">ID</span></th>
                    <th><span jhiTranslate="officerManagementApp.researchArea.name">Name</span></th>
                    <th><span jhiTranslate="officerManagementApp.researchArea.parent">Parent</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let researchArea of researchAreas ;trackBy: trackId">
                    <td><a [routerLink]="['/research-area', researchArea.id, 'view' ]">{{researchArea.id}}</a></td>
                    <td>{{researchArea.name}}</td>
                    <td>
                        <div *ngIf="researchArea.parent">
                            <a
                                [routerLink]="['../research-area', researchArea.parent?.id, 'view' ]">{{researchArea.parent?.id}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/research-area', researchArea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/research-area', researchArea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'research-area', { outlets: { popup: researchArea.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<div>
    <h2 id="page-heading">
        <b>
            <span jhiTranslate="officerManagementApp.researchArea.home.title">Research Areas</span>
        </b>
    </h2>
    <jhi-alert></jhi-alert>

    <div style="margin-top: 8px">
        <button (click)="expandAll()">Expand all</button>
        <button (click)="collapseAll()">Collapse all</button>
    </div>
    <p-tree [value]="trees" selectionMode="single" [(selection)]="selected" [filter]="true">
        <ng-template let-tree pTemplate="default">
            <input [(ngModel)]="tree.label" type="text" style="width:100%">
            <span>
                <button (click)="addNode(tree)">Them</button>
                <button (click)="saveNode(tree)">Save</button>
                <button type="submit"
                    [routerLink]="['/', 'research-area', { outlets: { popup: tree.data + '/delete'} }]"
                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </span>
        </ng-template>
    </p-tree>
    <div style="margin-top:8px">Selected Node: {{selected ? selected.label : 'none'}}</div>
</div>