<div [ngSwitch]="isAuthenticated()">
    <div class="row" *ngSwitchCase="true">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-6" jhiTranslate="home.title">Welcome to OfficerManagement System!</h1>
            <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

            <div>
                <div class="alert alert-primary" *ngSwitchCase="true">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                        [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}".
                    </span>
                </div>
                <!-- <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                        in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default
                        accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user"
                        and
                        password="user").</span>
                </div>
                <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account
                        yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register"
                        jhiTranslate="global.messages.info.register.link">Register a
                        new account</a>
                </div> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <div [ngSwitch]="isAuthenticated()">
    <div class="banner" *ngSwitchCase="false">
        <ngb-carousel [showNavigationArrows]="false">
            <ng-template ngbSlide>
                <img class="banner-img" src="https://firebasestorage.googleapis.com/v0/b/vuejs-firebase-425c6.appspot.com/o/vnu.png?alt=media&token=5415751c-2ff5-45a3-9593-e16eb75d6179">
                <div class="carousel-caption">
                    <h3 jhiTranslate="home.banner.operator">VNU Operator</h3>                
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="banner-img" src="https://firebasestorage.googleapis.com/v0/b/vuejs-firebase-425c6.appspot.com/o/G2.png?alt=media&token=47d1bc1e-b2dc-4ed9-a877-5e9f4d921c47">
                <div class="carousel-caption">
                    <h3 jhiTranslate="home.banner.amphitheater">Amphitheater</h3>                   
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="banner-img" src="https://firebasestorage.googleapis.com/v0/b/vuejs-firebase-425c6.appspot.com/o/E3.png?alt=media&token=f811fa55-7bed-4b87-8dc5-e66de5747a56">
                <div class="carousel-caption">
                    <h3 jhiTranslate="home.banner.lecture">UET lecturers</h3>                    
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
        <div class="body" class="wrapper">
            <div class="row search">
                <div class="row">
                    <p-autoComplete [(ngModel)]="officerSearch" [suggestions]="results"
                        (completeMethod)="search($event)" field="fullName"></p-autoComplete>
                    <button class="searchbtn" (click)="findByName()">
                        <span class="d-none d-md-inline"
                            jhiTranslate="officerManagementApp.officer.button.search">Search</span>
                    </button>
                </div>

            </div>
            <ul class="gv-list">
                <li>
                    <div class="gv-item-wr">
                        <div class="gv-item">
                            <img src="../../../../../images/images.jpg">
                            <div class="caption">
                                <p class="gv-name">
                                    <a> Le Dinh Thanh</a>
                                </p>
                                <p class="gv-unit">Khoa cong nghe thong tin</p>
                                <div class="gv-desc">
                                    <i>Hoc ham: Tien si</i>
                                    <br>
                                    <i>Chuc vu: Giang vien</i>
                                </div>
                            </div>

                            <div class="gv-viewmore">
                                <a>Chi tiet</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gv-item-wr">
                        <div class="gv-item">
                            <img src="../../../../../images/images.jpg">
                            <div class="caption">
                                <p class="gv-name">Le Dinh Thanh</p>
                                <p class="gv-unit">Khoa cong nghe thong tin</p>
                                <div class="gv-desc">
                                    <i>Hoc ham: Tien si</i>
                                    <br>
                                    <i>Chuc vu: Giang vien</i>
                                </div>
                            </div>

                            <div class="gv-viewmore">
                                <a>Chi tiet</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gv-item-wr">
                        <div class="gv-item">
                            <img src="../../../../../images/images.jpg">
                            <div class="caption">
                                <p class="gv-name">Le Dinh Thanh</p>
                                <p class="gv-unit">Khoa cong nghe thong tin</p>
                                <div class="gv-desc">
                                    <i>Hoc ham: Tien si</i>
                                    <br>
                                    <i>Chuc vu: Giang vien</i>
                                </div>
                            </div>

                            <div class="gv-viewmore">
                                <a>Chi tiet</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gv-item-wr">
                        <div class="gv-item">
                            <img src="../../../../../images/images.jpg">
                            <div class="caption">
                                <p class="gv-name">Le Dinh Thanh</p>
                                <p class="gv-unit">Khoa cong nghe thong tin</p>
                                <div class="gv-desc">
                                    <i>Hoc ham: Tien si</i>
                                    <br>
                                    <i>Chuc vu: Giang vien</i>
                                </div>
                            </div>

                            <div class="gv-viewmore">
                                <a>Chi tiet</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gv-item-wr">
                        <div class="gv-item">
                            <img src="../../../../../images/images.jpg">
                            <div class="caption">
                                <p class="gv-name">Le Dinh Thanh</p>
                                <p class="gv-unit">Khoa cong nghe thong tin</p>
                                <div class="gv-desc">
                                    <i>Hoc ham: Tien si</i>
                                    <br>
                                    <i>Chuc vu: Giang vien</i>
                                </div>
                            </div>

                            <div class="gv-viewmore">
                                <a>Chi tiet</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>