<div [ngSwitch]="isAuthenticated()">
    <div class="row" *ngSwitchCase="true">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-6" jhiTranslate="home.title">Welcome to OfficerManagement System!</h1>
            <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

            <div>
                <div class="alert alert-primary" *ngSwitchCase="true">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                        [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}".
                    </span>
                </div>
                <!-- <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                        in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default
                        accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user"
                        and
                        password="user").</span>
                </div>
                <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account
                        yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register"
                        jhiTranslate="global.messages.info.register.link">Register a
                        new account</a>
                </div> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <div [ngSwitch]="isAuthenticated()">
            <div class="banner" *ngSwitchCase="false">
                <ngb-carousel [showNavigationArrows]="false">
                    <ng-template ngbSlide>
                        <img class="banner-img" src="../../../../../images/f07635fc24d8e33b3bddac1b15e6ea51-700.jpg">
                        <div class="carousel-caption">
                            <h3>No keyboard...</h3>
                            <p>This carousel uses customized default values.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="banner-img" src="../../../../../images/Digital-Technology-Background.jpg">
                        <div class="carousel-caption">
                            <h3>10 seconds between slides...</h3>
                            <p>This carousel uses customized default values.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="banner-img" src="../../../../../images/96112.jpg">
                        <div class="carousel-caption">
                            <h3>No mouse events...</h3>
                            <p>This carousel doesn't pause or resume on mouse events</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <div class="body" class="wrapper">
            <div class="row search">
                <div class="row">
                    <p-autoComplete [(ngModel)]="officerSearch" [suggestions]="results"
                        (completeMethod)="search($event)" field="fullName"></p-autoComplete>
                    <button class="searchbtn" (click)="findByName()">
                        <span class="d-none d-md-inline"
                            jhiTranslate="officerManagementApp.officer.button.search">Search</span>
                    </button>
                </div>

            </div>
            <p-scrollPanel styleClass="custombar1" [style]="{width: '1060px', height: '1060px'}">
                <ul class="gv-list" *ngFor="let officer of officers">
                    <li>
                        <div class="gv-item-wr">
                            <div class="gv-item">
                                <img src="../../../../../images/images.jpg">
                                <div class="caption">
                                    <p class="gv-name">
                                        <a> Le Dinh Thanh</a>
                                    </p>
                                    <p class="gv-unit">Khoa cong nghe thong tin</p>
                                    <div class="gv-desc">
                                        <i>Hoc ham: Tien si</i>
                                        <br>
                                        <i>Chuc vu: Giang vien</i>
                                    </div>
                                </div>

                                <div class="gv-viewmore">
                                    <a>Chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </p-scrollPanel>

        </div>
    </div>

</div>